:root {
  /* color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --green-color: #1be643;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* size */
  --padding: 12px;
  --avata-size: 36px;

  /* font size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

body {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--grey-dark-color);
}

button,
button:hover {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

header {
  height: 216px;
  background-color: var(--grey-light-color);
  margin: auto; /*중앙 정렬 방법*/
  width: 1080px; /*고정된 폭을 지정해줘야 됨*/
  display: flex;
  align-items: center;
  flex-direction: column;
}

header .junior {
  align-self: flex-end;
  padding: 8px 12px;
  font-size: var(--font-small);
}

header .junior .pageStart {
  color: black;
}

header .junior .pageStartBtn {
  padding: 0 var(--padding) 0 0;
  color: var(--white-color);
}

header .junior .pageStartBtn i {
  box-shadow: 2px 4px 8px gray;
  border-radius: 50%;
}

header .junior .juniorNaver {
  border-left: 1px solid var(--grey-dark-color);
  padding-left: var(--padding);
  font-weight: bold;
}

header .junior .happybean {
  font-weight: bold;
}
