:root {
  --text-color: #212121;
  --icons-color: #cfcfcf;
  --background-color: #f0f4f5;
}

body {
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.navbar {
  background-color: black;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.video__main {
  width: 100%;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.info__videoTags {
  margin: 0;
  padding: 5px 5px;
  color: blue;
}

.info__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.info__title p {
  padding: 0 12px;
}

.info__title i {
  margin-right: 12px;
}
